
.icon-spin4:before { content: '\21'; } /* '!' */
.icon-spin3:before { content: '\22'; } /* '&quot;' */
.icon-edit:before { content: '\23'; } /* '#' */
.icon-spin2:before { content: '\24'; } /* '$' */
.icon-check:before { content: '\25'; } /* '%' */
.icon-circle:before { content: '\26'; } /* '&amp;' */
.icon-ok:before { content: '\27'; } /* ''' */
.icon-cancel:before { content: '\28'; } /* '(' */
.icon-ie:before { content: '\29'; } /* ')' */
.icon-function:before { content: '\2a'; } /* '*' */
.icon-help-o:before { content: '\2b'; } /* '+' */
.icon-ok-1:before { content: '\2d'; } /* '-' */
.icon-cancel-1:before { content: '\2e'; } /* '.' */
.icon-ok-o:before { content: '\2f'; } /* '/' */
.icon-cancel-o:before { content: '\30'; } /* '0' */
.icon-qrcode:before { content: '\31'; } /* '1' */
.icon-wechat:before { content: '\32'; } /* '2' */
.icon-down-arrow:before { content: '\33'; } /* '3' */
.icon-up-arrow:before { content: '\34'; } /* '4' */
.icon-down-o:before { content: '\35'; } /* '5' */
.icon-left-o:before { content: '\36'; } /* '6' */
.icon-right-o:before { content: '\37'; } /* '7' */
.icon-up-o:before { content: '\38'; } /* '8' */
.icon-warn:before { content: '\39'; } /* '9' */
.icon-play-o:before { content: '\3a'; } /* ':' */
.icon-pause-o:before { content: '\3b'; } /* ';' */
.icon-play-outline:before { content: '\3c'; } /* '&lt;' */
.icon-play:before { content: '\3d'; } /* '=' */
.icon-dot:before { content: '\3e'; } /* '&gt;' */
.icon-stop:before { content: '\3f'; } /* '?' */
.icon-pause:before { content: '\40'; } /* '@' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-edit-o:before { content: '\e803'; } /* '' */
.icon-file:before { content: '\e805'; } /* '' */
.icon-setting:before { content: '\e806'; } /* '' */
.icon-income:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-chart:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-right-arrow:before { content: '\e80c'; } /* '' */
.icon-left-arrow:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e826'; } /* '' */
.icon-up:before { content: '\e827'; } /* '' */
.icon-left:before { content: '\e828'; } /* '' */
.icon-right:before { content: '\e829'; } /* '' */
.icon-spin1:before { content: '\e848'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */