div.push-selector {
    min-width: 300px;
}

.message-tip {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    background: #E25050;
    border-radius: 14px;
    padding: 0 5px;
    top: -7px;
    right: 0;
    margin-left: 4px;
    transform: translateX(50%);
    max-width: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

a.tie-title {
    max-width: 280px;
}
div.live-selector {
    width: 150px;
    min-width: 150px;
}

.create-btn {
    padding-left: 0;
    padding-right: 0;
    width: 100px;
    height: 40px;
    line-height: 22px;
    text-align: center;
}

.operate-btn {
    display: inline-block;
    margin: 0 2px;
}

.panel-title {
    h2 {
        display: inline-block;
        width: 105px;
    }
    border-bottom: 1px solid #EEEEEE;
}

.create-bar {
    width: 100%;
    text-align: center;
    .askBar-icon {
        margin: 98px auto 20px;
        width: 121px;
        height: 121px;
        background: #F8F8F8 url('../../assets/images/askbar.png') no-repeat 36px center;
        border-radius: 50%;
    }
    .info {
        margin-bottom: 60px;
        font-size: 18px;
        color: #333333;
    }
}
