.paper {
    width: 1180px;
    height: 1397px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.icon {
    margin-top: 88px;
    margin-bottom: 20px;
}

.contact {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 14px;
    color: #666666;
}

.quit {
    width: 140px;
}
