
$border-color: #f15c75 !default;

@mixin td-disabled {
  background-color: $height-gray;
  opacity: 1;
  cursor: not-allowed;
  color: $light-gray;
  &:hover {
    border-color: $light-gray;
    box-shadow: none;
  }
}

@mixin checked {
  color: #000;
  background-color: #ffc2cc;
  border: 1px solid #f15c75;
}


@mixin up-triangular($border-color: $border-color) {
  position: absolute;
  top: -20px;
  left: 10px;
  display: inline-block;
  width:0px;
  height:0px;
  border-top: 10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid $border-color;
  border-left:10px solid transparent;
}
.up-triangular-pink {
  @include up-triangular($border-color);
}
.up-triangular-white {
  @include up-triangular(#e6e6e6);
}
.dt-item {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  //padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;

  .disable {
    display: none;
  }

  .table {
    .thead {
      .first-tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        color: #fff;
        font-size:20px;
        background-color: #f15c75;

        .prev, .next {
          width: 40px;
        }
        .date-picker-switch {
          width: 182px;
        }
        .prev, .next, .date-picker-switch {
          height: 90px;
          text-align: center;
          line-height: 90px;
          cursor: pointer;
          &:hover {
            background-color: #b1384c;
          }
        }
      }
      .tr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .td {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
        }
      }
    }

    .tbody {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: start;
      flex-wrap: wrap;
      padding: 5px;

      .td {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        margin-top: 2px;
        &[disabled] {
          @include td-disabled;
        }
      }
    }
  }
  .date-picker-days {
    .table-time {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 255px;
      padding: 5px 0;

      .time-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        overflow: hidden;
        &:hover {
          overflow-y: scroll;
        }

        .time-unit {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }

        .checked {
          @include checked;
        }
      }
    }
    .tbody {
      display: flex;
      justify-content: space-between;
      align-items: start;
      max-width: 262px;
      font-size: 14px;
      color: rgba(0, 0, 0, .8);
      .old-day, .new-day {
        color: #999;
      }

      .td {
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
      .checked {
        @include checked;
      }
    }
    .tfoot {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 35px;
      border-top: 1px solid rgba(0, 0, 0, .15);

      .time-choose {
        display: flex;
        justify-content: space-around;
        width: 40%;
        min-width: 150px;

        >span {
          cursor: pointer;
        }
      }
    }
  }

  .date-picker-months, .date-picker-years {

    .tbody {
      display: flex;
      justify-content: space-around;
      align-items: start;
      flex-wrap: wrap;
      max-width: 262px;
      font-size: 14px;


      .checked {
        @include checked;
      }

      .td {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
      }
    }
  }
  .tbody {
    .td:hover {
      background-color: #eee;
    }
  }
}
